### Create a room rental order request

> Request:

```shell
curl -X POST \
  <%= config[:api_host] %>/v1/customer/order-requests/room-rentals \
  -H 'authorization: Bearer {YOUR_TOKEN}' \
  -H 'content-type: application/json' \
  -H 'cache-control: no-cache' \
  -d '
  {
    "course_key": "00000000-0000-0000-0000-000000000000",
    "purchase_order_number": "99999",
    "reference_code": "99999",
    "event_start_date": "2018-01-01",
    "event_end_date": "2018-01-01",
    "event_start_time": "08:00:00",
    "event_end_time": "17:00:00",
    "student_quantity": 16,
    "computer_quantity": 1,
    "include_lunch": true,
    "include_vtr_equipment": false,
    "location":
    {
      "city": "Chicago",
      "region": "IL",
      "country": "US"
    },
    "instructor":
    {
      "first_Name": "John",
      "last_Name": "Doe",
      "email": "john@doe.com"
    },
    "comments": "Additional note"
  }'
```

```csharp
var client = new RestClient("<%= config[:api_host] %>/v1");
var request = new RestRequest("customer/order-requests/room-rentals", Method.POST);
request.AddHeader("authorization", "Bearer {YOUR_TOKEN}");
request.AddHeader("content-type", "application/json");
request.AddHeader("cache-control", "no-cache");
request.AddJsonBody(new
{
  course_key = "00000000-0000-0000-0000-000000000000",
  purchase_order_number = "99999",
  reference_code = "99999",
  event_start_date = "2018-01-01",
  event_end_date = "2018-01-01",
  event_start_time = "08:00:00",
  event_end_time = "17:00:00",
  student_quantity = 16,
  computer_quantity = 1,
  include_lunch = true,
  include_vtr_equipment = false,
  location = new
  {
    city = "Chicago",
    region = "IL",
    country = "US"
  },
  instructor = new
  {
    first_Name = "John",
    last_Name = "Doe",
    email = "john@doe.com"
  },
  comments = "Additional note"
});
var response = client.Execute(request);
```

> Response:

```
201 Created
```

```json
{
  "request_key": "00000000-0000-0000-0000-000000000000"
}
```

<api>`POST /v1/customer/order-requests/room-rentals`</api>

Creates a new room rental order request. The response body will include the order request's **request_key**,
which can be used to query a request for status updates.

Parameter | Type | Description
--------- | ----- | -----------
course_key **required** | *guid* | Course unique identifier
purchase_order_number *optional* | *string* | Your purchase order number
reference_code *optional* | *string* | Provides a way to map our data to yours
event_start_date **required** | *date*<span>yyyy-mm-dd</span> | Event start date in ISO date format
event_end_date **required** | *date*<span>yyyy-mm-dd</span> | Event end date in ISO date format
event_start_time **required** | *time*<span>hh:mm:ss</span> | Event start time in ISO time format
event_end_time **required** | *time*<span>hh:mm:ss</span> | Event end time in ISO time format
student_quantity **required** | *int* | The number of students attending the event
computer_quantity **required** | *int* | The number of computers required
include_lunch *optional* | *bool* | Should lunch be provided
include_vtr_equipment *optional* | *bool* | Will this event make use of MicroTek's VTR offering
location **required** | *object* | Location of event  ([see location](#client-api-order-requests-create-a-room-rental-order-request-location-object))
instructor *optional* | *object* | Instructor information ([see instructor](#client-api-order-requests-create-a-room-rental-order-request-instructor-object))
comments *optional* | *string* | Additional comments that MicroTek should be aware of

#### Location Object
Parameter | Type | Description
--------- | ---- | -----------
city **required** | *string* | City
region *optional* | *string* | State, province or region
country **required** | *string* | Country

#### Instructor Object
Parameter | Type | Description
--------- | ---- | -----------
first_name **required** | *string* | First name
last_name **required** | *string* | Last name
email **required** | *string* | Email address